/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body,
button {
  font-family: "Roboto", sans-serif;
}




/* Navbar */

.navbar-brand{
    font-size: 25px;
}

/* Sidebar */

.sidebar-nav {
  /* width: var(--offcanvas-width); */
  width: 270px;
  padding-top: 40px;

}
.sidebar-link {
  display: flex;
  align-items: center;
}


@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    /* margin-left: var(--offcanvas-width); */
    margin-left: 270px;
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    top: 56px;
  }
}

.title{
  background: rgb(32, 31, 32);
  border-radius: 15px;
  padding: 5px;
  margin: 15px;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: start;
  display: table;
  font-weight: 700;
  color: #fff;
}



.chart-container {
  width: 50%;
  height: 50%;
  margin: auto;
}


/* Form */

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color:rgb(29, 26, 26);
    border: none;
    color: white;
    margin-top: 20px;
}

.header{
  font-size: 15px;
  padding-left: 125px;
  padding-bottom: 10px;
}

/* Footer */

.footer-content{
  margin-left: -20px;
  margin-right: -12px;
  text-align: center;
  background: #000000;
  /* padding-right: 100px; */
  margin-top: 100px;

}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #fff;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #2C2E43;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  /* background: #2C2E43; */
  
  /* width: 100vw; */
  /* padding: 20px 0; */
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  /* color: #fff; */
  color: #2C2E43;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom #powered a{
  text-transform: uppercase;
  /* color: #fff; */
  color: #2C2E43;
  font-weight: 800;
}

.footer-bottom #powered:hover a{
  color: #2a8653;
  cursor: pointer;
}

.footer-content h3{
  font-weight: 800;
}
