/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body,
button {
  font-family: "Roboto", sans-serif;
}

/* :root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
} */


/* Navbar */

.navbar-brand{
    font-size: 25px;
}

/* Sidebar */

.sidebar-nav {
  /* width: var(--offcanvas-width); */
  width: 270px;
  padding-top: 40px;

}
.sidebar-link {
  display: flex;
  align-items: center;
}


@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    /* margin-left: var(--offcanvas-width); */
    margin-left: 270px;
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    top: 56px;
  }
}

.title{
  background: rgb(32, 31, 32);
  border-radius: 15px;
  padding: 5px;
  margin: 15px;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: start;
  display: table;
  font-weight: 700;
  color: #fff;
}



.chart-container {
  width: 50%;
  height: 50%;
  margin: auto;
}
